.bg_verified{
    border-radius: 4px;
background: var(--verified, #17AC8C);
}
.express_style__set{

padding: 4px 12px 4px 10px;


border-radius: 6px 0px 18px 6px;
border: 2px solid var(--verified, #17AC8C);
}

.express_text_style{
    color: var(--verified, #17AC8C);
font-family: Inter;

font-size: 14px;
font-style: italic;
font-weight: 600;
line-height: normal;
}